@using Sitecore.Data.Items
@model IEnumerable<Tanasuk.Models.NavigationModel>
@{
    Item current = RenderingContext.Current.ContextItem;
}
<div class="navbar-left">
    <div class="collapse navbar-collapse" id="siteNavbar">
        <ul class="nav navbar-nav">
            @foreach (var child1 in Model)
            {
                <li class="@(child1.Children.Count > 0 && child1.Title.ToLower() != "home" ? "dropdown" : string.Empty)">
                    <a href="@child1.Url" class="navigation @child1.Active @(child1.Title == current.Name ? "activo" : string.Empty)" style="display:inline-block;">
                        @child1.Title
                    </a>
                    @if (child1.Children.Count > 0 && child1.Title.ToLower() != "home")
                    {
                        <span class="caret @(child1.Children.Count > 0 ? " dropdown-toggle" : string.Empty)" @(child1.Children.Count > 0 ? "data-toggle=dropdown role=button aria-haspopup=true aria-expanded=false" : string.Empty)></span>
                    }
                    @if (child1.Children.Count > 0 && child1.Title.ToLower() != "home")
                    {
                        <ul class="dropdown-menu">
                            @foreach (var child2 in child1.Children)
                            {
                                <li><a href="@child2.Url">@child2.Title</a></li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>